version: '2'
services:
  web:
    build: .
    ports:
     - "8000:8000"
    volumes:
     - .:/app
    links:
    - db

  db:
    image: "postgres:9.6"
    environment:
      POSTGRES_PASSWORD: hunter2