body {
    font-family: "Lato", sans-serif;
    margin-left: 50px;
}

.task_form {
    width: 800px;
    border: 5px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    border-radius: 15px;
    margin-bottom: 35px;
}

.task_form label {
    font-size: 18px;
}

.task_form input {
    font-size: 18px;
}

#id_todo_text {
    width: 80%;
    margin-left: 10px;
}

.todo {
    height: 35px;
    margin-top: 15px;
    font-size: 18px;
}

.checked {
    text-decoration: line-through;
    color: #CCC;
}

.todo input[type=checkbox] {
    width: 40px;
}

.topbar {
    width: 800px;
    display: flex;
    align-items: center;
}

.topbar h1 {
    margin-left: 0;
}

.userinfo {
    margin-left: auto;
    list-style: none;
}

.userinfo li {
    float: left;
}

.userinfo li::before{
    content: '|';
    padding-left: 1em;
    padding-right: 1em;
}

.userinfo li:first-of-type::before{
    content: '';
}

#authform {
    width: 600px;
    padding: 20px;
}

#authform input[type=submit] {
    font-size: 1.2em;
}

#tagline {
    margin-bottom: 2em;
}
